/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center; 
    margin: 0px;

}

.main-container {  
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit; 
    text-decoration: none;
    cursor: pointer  /* gratuit */
}

.section-title { 
    margin: 0; /* opposition valeur par defaut? */
    font-size: 22px; 
}

.section-subtitle { 

    font-size: 18px; 
    font-weight: bold;
    text-align: left;
    margin: 0px;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* Pourquoi filter ? */
}

.card img {
    object-fit: cover; 
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* header-container */

.header-container  { 
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-booki-logo-box {
    padding: 30px 50px 30px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box; 
}
.header-booki-logo{ 
    height: 19px;
}

.header-nav{    
    color: black;
    width: 18.2%;
    min-width: 244px;
}
.header-nav ul{    
    display: flex;
    justify-content: space-between;
    margin: 0px;
    height: 35px;
}
.header-nav li {
    position: relative;
    display: block;
    height: 33px;
    top: 2px;
}

.header-nav a {
    display: block;
    padding: 16px 0px 0px 0px;
}

.header-nav li:hover {    
    color : rgb(1, 203, 253);
    position: relative;
    border-top: 2px solid var(--main-color) !important;
    top: 0px;
}






/****** Research ***********/

.research { /* FlexBoite de la partie recherche*/
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
    /****** Texte ***********/

.research-txt-container p {
    margin: 8px 0px 0px 0px;
}

    /****** Form ***********/

.research-form-container{ 
    display: flex;

}

.research .form {
    font-size: 18px;
    font-weight: bold;
    height: 49px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.research .form-gps-logo-box{ /* Balise container a la place d'un display block */
    border: 1px solid var(--main-bg-color);
    background-color: var(--main-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.research .form-gps-logo-box i{ /* logo */
    color: black;   
}

.research .form-input{
    border: 1px solid var(--main-bg-color);
    position: relative; 
    right : 1px;
    color: black;
    width: calc(377px - 182px);
}
.research .form-button{
    border: 1px solid var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color:white;
    width: 132px;  
    position: relative;
    right: 2px; 
}

.research .form-button:last-of-type{ 
    display: none;
}

    /****** Info ***********/

.research-info-container {
    display: flex;
    align-items: center;
    gap: 10px 
}

.info-logo-border{ /* Balise container a la place d'un display block */
    display: flex; 
    border: 1px solid var(--filter-bg-color);
    width: 24px;
    min-height: 24px; 
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
}

.info-logo-border i { /* Le logo info */
    margin:auto;
    font-size: 0.75em !important;
}

    /****** Filter ***********/

.research-filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
    box-sizing: border-box;
}

.filter-link:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}



.filter-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px var(--main-bg-color);
    border-radius: 25px;    
    padding: 0px 15px;
    gap: 10px;
}

.filter-link i{
 font-size: 1.25em;
}

.filter-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.filter-txt {
    font-weight: bold;
    font-size: 17px;
    text-align: left;    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
} 

.card-prices {
    margin: 0;
    font-size: 14px;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
}


.hebergements-cardbox { /* container articles wrap */
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    row-gap: 30px;
    justify-content: space-between;
}

.hebergements-cardbox .card { 
    display: flex;
    flex-direction: column;
    width: 31%;
    max-width: 250px;
    padding: 0px 0px 15px 0px !important; 
    
}

.hebergements-cardbox img{                                      
    height: 124px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    border: 5px white solid;
    width: 100%;
}


.hebergements-cardbox .card-details {
    width: 100%;
    padding : 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    row-gap: 8px;
}


.hebergements-cardbox .card-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hebergements-cardbox .card-rating { 
    height: 13px; /* 17 par defaut, cree un decallage avec la maquette */
    width: 83.88px; /*Obtenue via fit-content sur rating de la section populaire*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-cardbox { 
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.populaires-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cardbox .card { 
    display: flex;
}

.populaires-cardbox img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cardbox .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cardbox .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cardbox .card-rating {
    width: fit-content; /* 83.88px -> Valeur reprise pour la section hebergement */
}

/****** Activites ***********/

.activities { 
    padding: 30px ;    
    box-sizing: border-box; 
    width: 100%; 
    margin-bottom: 35px;
}

.activities-cardbox { 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0px;
    column-gap: 30px;      
}

.activities-cardbox a {  
    width: 100%;
}

.activities-cardbox .card{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activities-cardbox img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}

.activities-cardbox .card-title {
    margin : 20px;
}

/* footer-container */

.footer-container {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between; 
    padding-top: 20px;
    padding-bottom: 5px;    
    position: relative; 
    bottom:-2px;


}
.footer-container section {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;
}

.footer-container li {
    margin: 15px 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        padding: 0 4.883vw;
    }

    .research-filter-container {
        flex-wrap: wrap;
        height: fit-content;
        column-gap: 15px;
        row-gap: 0px;
    }
    .filter-title {
        margin-right: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
    }


    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }

    .hebergements-cardbox {
        gap:unset;
        row-gap: 30px;
    }

    .hebergements-cardbox .card{
        width: 31%;
        max-width: 268px
    }



    .populaires {
        width: 100%;
        margin-top: 50px;
    } 
    .populaires-cardbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-title-box {
        margin-bottom: 20px;
    }
    .populaires-cardbox a {
        width: 30%;
    }



    .activities-cardbox .card {
        height: 100%;
    }

    .activities-cardbox {
        height: 270px;
    }

    .activities-cardbox img {
        height: 200px;
    }

    .activities-cardbox .card-title {
        margin: auto;
        padding: 0 19px;
    }
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0 5.333vw;
    }

    .header-container{
        flex-direction: column;
        align-items: center;
        height: 115px;
    }
    .header-booki-logo-box {
        margin: 30px auto;
        padding: 0px;
    }
    .header-nav {
        width: 100%;
    }
    .header-nav li{
        width: 50%;
        height: 36px;
        text-align: center;
        position: unset;
    }
    .header-nav a{
        padding: 0px 0px 17px 0px;
    }
    .header-nav li:hover {
        border-top: none !important;
        border-bottom: 2px solid var(--main-color); 
    }

    
    .research .research-form-container {
        border: 1px solid var(--main-bg-color);
        border-radius: 15px;
        width: fit-content;
    }
    .research .form, .form-gps-logo-box {
        border: none !important;
        position: relative;
        left: -1px;
    }
    
    .research .form-button:first-of-type {
        display: none;
    }
    .research .form-button:last-of-type{ 
        display: unset;
        padding: 16px;
        width: unset;
        border-radius: 15px;
        left : 1px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
    .research .form-button:last-of-type i{ /* logo */
        color: var(--main-bg-color);  
    }


    /*Filter */

    .research-filter-container {
        position: relative;
        justify-content: space-between;
        row-gap: 20px;
        column-gap: unset !important;
    }

    .filter-title {
        width: 100%;
        margin: unset;
        text-align: left;        
    }

    .filter-link {
        width: 42.27vw;
        justify-content: center;
        padding: 0px;
        min-width: max-content;
    }



    /*Heb - Pop & Act*/

    .cardbox {    
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        padding: 0px;
        height: unset !important;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        background-color: var(--main-bg-color);
        padding: 0px;
    }
    .hebergements-and-populaires a {
        width: unset;
    }

    .populaires {
        margin: 0px;
        border-radius: 0px !important;
        position: relative;
        width: 100vw;
        left: -5.333vw;
        background-color: var(--main-bg-color) !important;
        padding: 30px 20px !important;
    }

    .hebergements {
        background-color: white !important;
        border-radius: 0px !important;
        padding: 35px 0px !important;
    }

    .hebergements-cardbox .card {
        width: unset;
        max-width: unset;
    }

    .activities {
        padding: 30px 10px 65px 10px !important;

    }

    .activities .card-title {
        margin: 0px !important;
        padding: 20px 19px !important;
        text-align: left !important;
    }
   

    /* footer*/

    .footer-container {
        flex-direction: column;
        row-gap: 50px;
        width: 100vw;
        position: relative;
        left: -5.333vw;
    }

    .footer-container section{
        width: unset;
    }

    
    


}