/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center; /* On pourrait pas juste mettre margin auto sur main-container? */
    margin: 2px 0px 0px 0px;

}

.main-container {  /* se justifie en cas d'ecran large. */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit; /* Permet d'heriter la valeur par defaut?*/
    text-decoration: none;
    cursor: pointer  /* modif par eva */
}

.section-title { 
    margin: 0; /*surement pour pq yq une marge par defaut sur les titres */
    font-size: 22px; 
}

.section-subtitle { /* Need ajuster les marges individuellement*/

    font-size: 18px; 
    font-weight: bold;
    text-align: left;
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* handi-code ?*/
}

.card img {
    object-fit: cover;  /* j'ai fait plusieurs cours et j'ai jamais vrmt compris cmt ca marche*/
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* header-container */

.header-container  { /* */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
} 

.header-container ul{    /* liens */
    display: flex;
    gap: 50px; /*Distance Figma*/
    color: black;
}

.header-nav{     /* container navigation */
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    ;
    
}

.header-nav a:hover {     /* hover */
    color : rgb(1, 203, 253);
    border-top: 10px solid rgb(1, 203, 253) !important; 
    padding-top: 16px; 
    
    
}

.header-booki-logo{ 
    height: 25px;
    margin: auto;
    margin-left: 0px;
}


/****** Research ***********/

.research { /* FlexBoite de la partie recherche*/
    margin-top: 30px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
    /****** Texte ***********/

.research-txt-container p {
    margin: 8px 0px 0px 0px;
}

    /****** Form ***********/

.research-form-container{ /* reprendre les marges et dimensions*/
 display: flex;

}
.research .form-gps-logo-box{ /* Span container -> permet de modifier librement le logo */
    border: 1px solid var(--filter-bg-color);
    background-color: var(--filter-bg-color);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    
    height: 49px;
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.research .form-gps-logo-box i{ /* logo */
    text-decoration: none;
    color: black;
    font-size: 0.75em !important;    
}

.research .form-input{
    margin: 0px; /* des fois qu'il y ait une valeur par defaut*/
    border: 1px solid var(--filter-bg-color);
    box-sizing: content-box; /* permet de superposer les bordures  */
    height: 49px;
    padding: 5px;
    position: relative; /* pour deplacement vers la gauche */
    right : 1px;
    font-size: 18px;
    font-weight: bold ;
    color: black;
    text-align: center;
}
.research .form-button{
    margin: 0px; /* des fois qu'il y ait une valeur par defaut*/
    border: 1px solid var(--main-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color:white;
    box-sizing: content-box; /* permet de superposer les bordures  */
    height: 49px;
    width: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: 2px; /* vers la gauche par dessus la bordure */
    font-size: 18px;
    font-weight: bold ;
}

    /****** Info ***********/

.research-info-container {
    display: flex;
    align-items: center;
    gap: 10px 
}

.info-logo-border{ /* Cadre du logo info */
    display: flex; 
    border: 1px solid grey;
    width: 20px;
    min-height: 20px; 
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
}

.info-logo-border i { /* Le logo info */
    margin:auto;
    font-size: 0.5em !important;
}

    /****** Filter ***********/

.research-filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 50px;
}

.filter-link:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

.filter-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px grey;
    border-radius: 25px;    
    padding: 0px 15px;
    gap: 10px;
}

.filter-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.filter-txt {
    font-weight: bold;
    font-size: 17px;
    text-align: left;    
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.card-prices {
    margin: 0;
}

.card-rating {
    margin-bottom: 5px;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
}


.hebergements-cardbox { /* container articles wrap */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hebergements-cardbox .card { /* Container pour chaque article-lien */
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 240px;
    padding-bottom: 10px;
}

.hebergements-cardbox img{ /* Images de hebergements */
    height: 124px;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cardbox .card-content {
    width: 100%;
    /* padding-top: 4px; */
    padding : 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cardbox .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}
.populaires-cardbox {  
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.populaires-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cardbox .card { /* Le texte a cote de l'img */
    display: flex;
}

.populaires-cardbox img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cardbox .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cardbox .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/****** Activites ***********/

.activities-container { 
    padding: 30px;    
    box-sizing: border-box; /* useless ? */
    width: 100%; /* useless ? */
}

.activities-cardbox { 
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 30px 0px;
    padding: 0px;      
}

.activities-cardbox a {  
    width: 100%;
    padding: 0px;
    margin: 0px 15px; /* Essayer d'utiliser un gap eventuellement*/
}
.activities-cardbox a:first-of-type {  
    margin-left: 0px;
}
.activities-cardbox a:last-of-type {  
    margin-right: 0px; 
}

.activities-cardbox .card{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.activities-cardbox img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;    
}

.activities-cardbox .card-title {
    margin : 20px;
}

/* footer-container */

.footer-container {
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between; 
    position: relative;   

}
.footer-container section {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 20px;

}

.footer-container li {
    margin: 15px 0;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cardbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cardbox a {
        width: 30%;
    }

    .populaires-cardbox .card-title {
        font-size: 14px;
    }

    .populaires-cardbox .card-prices {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}