/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center; /* On pourrait pas juste mettre margin auto sur main-container? */
}

.main-container {  /* se justifie en cas d'ecran large. */
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit; /* Permet d'heriter la valeur par defaut?*/
    text-decoration: none;
    cursor: pointer  /* modif par eva */
}

.section-title {
    margin: 0; /* surement pour pq yq une marge par defaut sur les titres*/
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /* handi-code ?*/
}

.card img {
    object-fit: cover;  /* j'ai fait plusieurs cours et j'ai jamais vrmt compris cmt ca marche*/
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Research ***********/

.roof-research-container {
    margin-top: 33px;
    margin-bottom: 33px;
}

.research-input-container .research-form-container{
 display: flex;
 gap:0px;
 justify-content: flex-start;
 align-items: center;
 box-sizing: content-box;
 height: 100%;


}
.research-input-container span{ /* Span container -> permet de modifier librement le logo */
    border: 1px solid var(--filter-bg-color);
    box-sizing: content-box;
    background-color: var(--filter-bg-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;    
    height: 25px;
    padding: 5px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.research-input-container i{ /* logo */
    text-decoration: none;
    color: black;
    font-size: 0.75em;
    
}

.research-input-container .research-input{
    margin: 0px; /* des fois qu'il y ait une valeur par defaut*/
    border: 1px solid var(--filter-bg-color);
    box-sizing: content-box; /* permet de superposer les bordures  */
    height: 25px;
    padding: 5px;
    position: relative; /* pour deplacement vers la gauche */
    right : 1px;
    font-size: 18px;
    font-weight: bold ;
    color: black;
}
.research-input-container .research-button{
    margin: 0px; /* des fois qu'il y ait une valeur par defaut*/
    border: 1px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--main-color);
    color:white;
    box-sizing: content-box; /* permet de superposer les bordures  */
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    right: 2px; /* pour deplacement vers la gauche */
    font-size: 18px;
    font-weight: bold ;
}



.research-info-container {
    display: flex;
    align-items: center;
    gap: 10px
}

.research-info-container i { /* le logo */

    margin:auto;
    font-size: 0.5em;
}

.info-logo-border{ /* container creer pour la bordure. Permet de modifier librement le logo*/
    display: flex; 
    border: 1px solid grey;
    width: 20px;
    min-height: 20px; 
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
}


.research-filter-container {
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.research-filter-container .filter-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px grey;
    border-radius: 20px;
    
    padding: 0px 15px;
    gap: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/****** Les px sur figma ne sont pas fiables ***********/
/****** Need trouver une solution -> Slack ***********/

.hebergements {
    width: 65%;
}


.hebergements-cards { /* container articles wrap */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}


.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.hebergements-cards .card { /* Container pour chaque article-lien */
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 240px;
    padding-bottom: 10px;
    
}

.hebergements-cards img{ /* Images de hebergements */
    height: 124px; /* laisser en px ? */
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    /* padding-top: 4px; */
    padding : 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card { /* article-lien */
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activities-container { /* body section */

    padding: 30px;
    
    box-sizing: border-box;
    width: 100%;
}

.activities-cards { /* container a activites */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;  
    
}

.activities-cards a {  /* activites */
    width: 100%;
    padding: 0px;
    margin: 15px;
    
}

.activities-cards .card{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 33px;
}
.activities-cards img {
    height: 380px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.activities-cards .card-title {
    padding-left: 15px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}